In [52]:
import pandas as pd

In [53]:

with open(r"C:\Users\DanielBest(RAPP)\Documents\personal\AOC2024\DAY_03\input.txt", "r") as file:
    lines = file.readlines()

# Create a DataFrame from the lines
df = pd.DataFrame(lines, columns=['text'])  # Name the column 'text'

# Remove any trailing newline characters
df['text'] = df['text'].str.strip()

# Print the DataFrame
print(df)

                                                text
0  (who() what())>when()why()'mul(454,153)mul(565...
1  where()<mul(672,282)&'>,mul(156,431)when(444,9...
2  !who()when(),mul(565,187)'who()mul(573,606)/]<...
3  (^*mul(552,797)mul(235,864)[%@~}~mul(222,585))...
4  }>select()>@why(364,672)who():where()mul(385wh...
5  how()*[mul(560,727)*when()from(); >~]'&mul(90,...

In [54]:
df.columns = ['text']

In [55]:
print(df.columns)

Index(['text'], dtype='object')

In [56]:
import re

# Example string
input_string = "mul(2,4)%&mul[3,7]!@^do_not_mul(5,5)+mul(32,64]then(mul(11,8)mul(8,5))"

# Regex pattern
pattern = r"mul\(\d{1,3},\d{1,3}\)"

# Extract matches
valid_mul_entries = re.findall(pattern, input_string)

print(valid_mul_entries)

['mul(2,4)', 'mul(5,5)', 'mul(11,8)', 'mul(8,5)']

In [57]:
# data = {
#     "text": [
#         "mul(2,4)%&mul[3,7]!@^do_not_mul(5,5)+mul(32,64]then(mul(11,8)mul(8,5))",
#         "mul(123,4)randomstuffmul(4,4)mul(10,2)",
#         "invalid(mul(5,10)mul(3,3))mul(12,34)"
#     ]
# }

# # Create DataFrame
# df = pd.DataFrame(data)
# df

In [58]:
df.keys

<bound method NDFrame.keys of                                                 text
0  (who() what())>when()why()'mul(454,153)mul(565...
1  where()<mul(672,282)&'>,mul(156,431)when(444,9...
2  !who()when(),mul(565,187)'who()mul(573,606)/]<...
3  (^*mul(552,797)mul(235,864)[%@~}~mul(222,585))...
4  }>select()>@why(364,672)who():where()mul(385wh...
5  how()*[mul(560,727)*when()from(); >~]'&mul(90,...>

In [59]:
# Define the regex pattern
pattern = r"mul\((\d{1,3}),(\d{1,3})\)"

# Apply regex, extract, calculate products, and sum
def process_line(line):
    matches = re.findall(pattern, line)  # Extract valid mul entries
    results = [int(x) * int(y) for x, y in matches]  # Multiply X and Y
    return results, sum(results)  # Return both the individual products and the sum

# Apply the function to each row
df[['mul_entries', 'line_sum']] = df['text'].apply(
    lambda x: pd.Series(process_line(x))
)

# Calculate total sum of all lines
total_sum = df['line_sum'].sum()

# Print DataFrame and total sum
print(df)
print(f"Total Sum: {total_sum}")

                                                text  \
0  (who() what())>when()why()'mul(454,153)mul(565...
1  where()<mul(672,282)&'>,mul(156,431)when(444,9...
2  !who()when(),mul(565,187)'who()mul(573,606)/]<...
3  (^*mul(552,797)mul(235,864)[%@~}~mul(222,585))...
4  }>select()>@why(364,672)who():where()mul(385wh...
5  how()*[mul(560,727)*when()from(); >~]'&mul(90,...

                                         mul_entries  line_sum
0  [69462, 561610, 474370, 672000, 61594, 240600,...  29728992
1  [189504, 67236, 7650, 336015, 58642, 771197, 5...  24357226
2  [105655, 347238, 3712, 264195, 22680, 48576, 2...  27950330
3  [439944, 203040, 129870, 2394, 153916, 3976, 4...  26700264
4  [193752, 150144, 146940, 535599, 472863, 77937...  23078534
5  [407120, 35370, 478584, 35500, 19750, 381790, ...  28077250
Total Sum: 159892596

In [60]:
df

,text,mul_entries,line_sum
0,"(who() what())>when()why()'mul(454,153)mul(565...","[69462, 561610, 474370, 672000, 61594, 240600,...",29728992
1,"where()<mul(672,282)&'>,mul(156,431)when(444,9...","[189504, 67236, 7650, 336015, 58642, 771197, 5...",24357226
2,"!who()when(),mul(565,187)'who()mul(573,606)/]<...","[105655, 347238, 3712, 264195, 22680, 48576, 2...",27950330
3,"(^*mul(552,797)mul(235,864)[%@~}~mul(222,585))...","[439944, 203040, 129870, 2394, 153916, 3976, 4...",26700264
4,"}>select()>@why(364,672)who():where()mul(385wh...","[193752, 150144, 146940, 535599, 472863, 77937...",23078534
5,"how()*[mul(560,727)*when()from(); >~]'&mul(90,...","[407120, 35370, 478584, 35500, 19750, 381790, ...",28077250

In [63]:
# Regex for valid mul instructions and toggle instructions
mul_pattern = r"mul\((\d{1,3}),(\d{1,3})\)"
toggle_pattern = r"(do\(\)|don't\(\))"

# Function to process lines with persistent state
def process_lines_with_state(df):
    is_enabled = True  # Start with mul instructions enabled
    total_sum = 0
    line_sums = []  # To store the sum for each line

    for line in df['text']:
        line_sum = 0
        matches = re.finditer(f"{toggle_pattern}|{mul_pattern}", line)  # Find all instructions

        for match in matches:
            if match.group(1):  # If it's a do() or don't() instruction
                if match.group(1) == "do()":
                    is_enabled = True
                elif match.group(1) == "don't()":
                    is_enabled = False
            elif match.group(2) and match.group(3):  # If it's a mul(X,Y) instruction
                x, y = int(match.group(2)), int(match.group(3))
                if is_enabled:
                    line_sum += x * y  # Multiply only if enabled

        line_sums.append(line_sum)
        total_sum += line_sum  # Update total sum

    df['line_sum'] = line_sums  # Add line sums to the DataFrame
    return total_sum

# Calculate total sum across all lines
total_sum = process_lines_with_state(df)

# Print DataFrame and total sum
print(df)
print(f"Total Sum: {total_sum}")

                                                text  \
0  (who() what())>when()why()'mul(454,153)mul(565...
1  where()<mul(672,282)&'>,mul(156,431)when(444,9...
2  !who()when(),mul(565,187)'who()mul(573,606)/]<...
3  (^*mul(552,797)mul(235,864)[%@~}~mul(222,585))...
4  }>select()>@why(364,672)who():where()mul(385wh...
5  how()*[mul(560,727)*when()from(); >~]'&mul(90,...

                                         mul_entries  line_sum
0  [69462, 561610, 474370, 672000, 61594, 240600,...  14897040
1  [189504, 67236, 7650, 336015, 58642, 771197, 5...  14432342
2  [105655, 347238, 3712, 264195, 22680, 48576, 2...  21588197
3  [439944, 203040, 129870, 2394, 153916, 3976, 4...  14444084
4  [193752, 150144, 146940, 535599, 472863, 77937...  11800149
5  [407120, 35370, 478584, 35500, 19750, 381790, ...  15465130
Total Sum: 92626942